<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlconn" connectionString="Data Source=WORK-PC\SQLEXPRESS;password=gxems#21;uid=sa;Initial Catalog =jinhuhot;Asynchronous Processing=true;MultipleActiveResultSets=true;" />
    <!--<add name="sqlconn" connectionString="Data Source=10.10.10.4;password=gxems#21;uid=sa;Initial Catalog =WaterSupply;Asynchronous Processing=true;MultipleActiveResultSets=true;" />-->
  </connectionStrings>
  <appSettings>
    <add key="lisAddress" value="172.72.100.48"/>
    <add key="lisPort" value="4996"/>
    <add key="udpDoubleServer" value="172.72.100.48"/>
    <add key="updprot" value="50000"/>
  </appSettings>
</configuration>