<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlconn" connectionString="Data Source=192.168.0.213;password=123456;uid=sa;Initial Catalog =jinhuhot;Asynchronous Processing=true;MultipleActiveResultSets=true;" />
    <!--<add name="sqlconn" connectionString="Data Source=10.10.10.4;password=gxems#21;uid=sa;Initial Catalog =WaterSupply;Asynchronous Processing=true;MultipleActiveResultSets=true;" />-->
  </connectionStrings>
  <appSettings>
    <add key="lisAddress" value="127.0.0.1"/>
    <add key="lisPort" value="4996"/>
    <add key="udpDoubleServer" value="127.0.0.1"/>
    <add key="updprot" value="4997"/>
    <add key="udpDoubleServer_back" value="127.0.0.1"/>
    <add key="updprot_back" value="50000"/>
  </appSettings>
</configuration>